*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/innertube/build
/jiosaavn/build
/lyrics/build
/database/build
/app/release
*.apk
*.ap_
*.dex
*.class
gen/
bin/
database/schemas/
.gradle/
build/
